:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-text-color: #2196F3;
    --page-text-color: #757575;
    --background-color: #FFFFFF;
    --background-color-portfolio: #F5F4FA;
    --background-color-main: #2F303A;
}
/*html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
*/
a {
text-decoration: none;
}

li {
    display: inline-block;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--background-color);
    color: var(--page-text-color);
}
/*Утіліти*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.section {
    padding: 94px 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
}

/*Header*/

.header-logo {
    width: 145px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.header-logo > span {
    color: var(--accent-text-color);
}
.header-list {
    margin-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-nav,
.header-list,
.header-contacts {
    display: flex;
}

.header-list .header-box + .header-box {
    margin-left: 50px;
}

.header-list .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-contacts  {
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-contacts .header-item + .header-item {
margin-left: 50px;
}

.header-contacts .header-mail,
.header-contacts .header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--page-text-color);
    display: inline-block;
}
.header-mail {
    min-width: 135px;
}
.header-phone {
    min-width: 122px;

}
/*Псевдокласи header*/
.header-list .header-link:hover,
.header-list .header-link:focus {
    color: var(--accent-text-color);
}
.header-contacts .header-mail:hover,
.header-contacts .header-mail:focus {
    color: var(--accent-text-color);
}
.header-contacts .header-phone:hover,
.header-contacts .header-phone:focus {
    color: var(--accent-text-color);
}
/*підсвічування активної сторінки*/
.header-list .header-link.current {
    color: var(--accent-text-color);
}

/*main*/
.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--background-color-main);
}
.main-menu {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-color-main);
}
.main-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}

.button-primary {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
    background-color: var(--accent-text-color);
}
/*.button-primary:hover,
.button-primary:focus {
    color: var(--background-color);
    background-color: var(--title-text-color);
}*/
/*feature*/
.feature {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 auto;
   /* margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;*/
}

.feature-list .feature-item + .feature-item {
    margin-left: 30px;
}

.feature-list {
    display: flex;
    justify-content: center;
}

.feature-list .feature-item {
    width: calc((100% - 90px) / 4);
    /*min-width: 270px;*/
}
.featute-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

}
.feature-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}

/*directions*/
.directions {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.directions .section-title {
    margin-top: 0;
    margin-bottom: 50px;
}
.directions-list {
    display: flex;
    align-items: center;
    width: calc();
    /*justify-content: space-between;*/
}
.directions-item {
    display: block;
    margin-left: 0;
}
.directions-picture {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    height: 294px;
    /*width: 370px;*/
 
}

 /* .directions-picture.nogap {
      display: block;
  }*/

  .directions-item:not(:first-child) {
      margin-left: 30px;
    }
/*.directions-picture:first-child {
        margin-left: 0px;
    }*/

/*team*/

.team {
    background-color: var(--background-color-portfolio);
}

.team > .section-title {
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}
.team-list {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
}
.team-list .team-item {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
    margin-left: 30px;
}
.team-picture {
  max-width: 100%;
  height: auto;
    margin-bottom: 30px;
}

/*footer*/
.contacts {
    background-color: var(--background-color-main);
}
/*.contacts-list {
    display: block;
}*/
.contacts-logo {
    display: inline-block;;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 60px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
/* identical to box height */
    letter-spacing: 0.03em;
    color: var(--background-color);

    
}
.contacts-logo > span{
    color: var(--accent-text-color);
}
.contacts-block .contacts-list {
    /*display: block;*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;   
}

.contacts-menu {
    display: inline-block;
    padding-bottom: 60px;
}
.contacts-list .contacts-item {
    padding: 0 auto;
    margin: 0 auto;
}

.contacts-item:not(:last-child) {
    margin-bottom: 9px;
}
.contacts-mail,
.contacts-phone {
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    color: var(--background-color);
}

.contacts-list .contacts-address:hover,
.contacts-list .contacts-address:focus {
    color: var(--accent-text-color);
}
.contacts-list .contacts-mail:hover,
.contacts-list .contacts-mail:focus {
    color: var(--accent-text-color);
}

.contacts-list .contacts-phone:hover,
.contacts-list .contacts-phone:focus {
    color: var(--accent-text-color);
}
.contacts-list > li {
    display: block;
}

/*Portfolio CSS*/
.portfolio-button {
    margin-bottom: 34px;
}
.portfolio .portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.button-main {
    padding: 6px 22px;
}
.portfolio-item {
    margin-left: 8px;
}
/*container*/
.header-menu{
    display: flex;
    align-items: center;
}

.container-list .container-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);

  
}
.container-list .container-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
    margin-top: 0;
    margin-bottom: 0;
}
.button-main {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.button-main:hover,
.button-main:focus {
    color: var(--background-color);
    background-color: var(--accent-text-color);
}
.button.main {
    color: var(--primary-text-color);
    background-color: var(--background-color-portfolio);
}

.portfolio .portfolio-title,
.feature .section-title {
    /*position: absolute;*/
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
.container-list {
    display: flex;
    flex-wrap: wrap;
  }
.container-item {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 4px transparent;
    /*  width: 370px;*/
}

/**.container-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.container-item:not(:nth-last-child(-n+3)) {
margin-bottom: 30px;
}*/
.container-item:nth-child(3n) {
    margin-right: 0;
}
 
.container-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }

