:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    --accent-text-color: #2196F3;
    --page-text-color: #757575;
    --background-color: #FFFFFF;
    --background-color-portfolio: #F5F4FA;
    --background-color-main: #2F303A;
}

a {
text-decoration: none;
}

li {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


body {   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--background-color);
    color: var(--page-text-color);
}
/*Утіліти*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
}

/*Header*/
/*.header-container {
    width: auto;
    margin-left: 0;
    margin-top: 0;
}*/
.header-logo {
    width: 145px;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
/* identical to box height */
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.header-logo > span {
    color: var(--accent-text-color);
}

.header-nav,
.header-list,
.header-contacts,
.header-box {
    display: flex;
}

.menu {
    /*background-color: blueviolet;*/
    display: flex;
    align-items: center;
}
.header-list .header-box + .header-box {
    margin-left: 50px;
}

.header-list .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-list {
    margin-left: 93px;
}
.header-contacts  {
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-contacts .header-item + .header-item {
margin-left: 50px;
}

.header-contacts .header-mail,
.header-contacts .header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--page-text-color);
}
/*Псевдокласи header*/
.header-list .header-link:hover,
.header-list .header-link:focus {
    color: var(--accent-text-color);
}
.header-contacts .header-mail:hover,
.header-contacts .header-mail:focus {
    color: var(--accent-text-color);
}
.header-contacts .header-phone:hover,
.header-contacts .header-phone:focus {
    color: var(--accent-text-color);
}
/*підсвічування активної сторінки*/
.header-list .header-link.current {
    color: var(--accent-text-color);
}

/*main*/
.main {
    /*padding-left: auto;
    padding-right: auto;
    width: 1230px;*/
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
    text-align: center;
    height: 600px;
    background-color: var(--background-color-main);
}
.main-title {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
    /*background-color: yellow;*/
}
.button-primary {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
}
.button-primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    /*display: flex;*/
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
    background-color: var(--accent-text-color);
}

/*feature*/
.feature {
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
}

.feature-list .feature-subtitle + .feature-subtitle {
    margin-left: 30px;
    }
.feature-list {
    margin: 0px;
    padding: 0px;
    display: flex;
}
/*.feature .container {
    margin-top: 0;
    
    display: inline-block;
    outline: 2px solid red;
}*/
.feature-list .text {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.feature-text {
    font-weight: 400;
    line-height: 1.71;
/* or 171% */
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}


/*directions*/
.directions {
    padding: 0;
    margin-top: 0;
    /*display: flex;
    margin-top: 0;
    margin-bottom: 94px;*/
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    outline: 2px solid violet;
}

/*team*/
/*.team {
    padding-top: 0;
    padding-bottom: 94px;
    text-align: center;
    background-color: greenyellow;
}*/
.team {
    background-color: var(--background-color);
}
.team .container {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    /*margin-bottom: 94px;*/
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.team-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}
.team-list {
    padding-bottom: 94px;
}
.team-item {
    height: 368px;
    margin-top: 0;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-picture {
    margin-bottom: 30px;
}

/*footer*/
.contacts {
    background-color: var(--background-color-main);
}
/*.contacts-list {
    display: block;
}*/
.contacts-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
/* identical to box height */
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.contacts-logo > span{
    color: var(--accent-text-color);
}
.contacts-block .contacts-list {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
/* or 171% */
    letter-spacing: 0.03em;   
}
.contacts-mail,
.contacts-phone {
    color: rgba(255, 255, 255, 0.6);
}
.contacts-address {
    color: var(--background-color);
}

.contacts-list .contacts-address:hover,
.contacts-list .contacts-address:focus {
    color: var(--accent-text-color);
}
.contacts-list .contacts-mail:hover,
.contacts-list .contacts-mail:focus {
    color: var(--accent-text-color);
}

.contacts-list .contacts-phone:hover,
.contacts-list .contacts-phone:focus {
    color: var(--accent-text-color);
}
.contacts-list > li {
    display: block;
}
/*Portfolio CSS*/

.portfolio .portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
/* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*container*/

.portfolio .container-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
/* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.portfolio .container-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--page-text-color);
}
.button-main {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;
}
.button-main:hover,
.button-main:focus {
    color: var(--background-color);
    background-color: var(--accent-text-color);
}
.button.main {
    color: var(--primary-text-color);
    background-color: var(--background-color-portfolio);
}

.portfolio .portfolio-title,
.feature .section-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }